# $SU(3)$ one-body reduced matrix elements acting on a single shell

<ul>
<li>Expansion of the complete matrix element and application of Wigner-Eckart theorem. Notice that since the Wigner-Eckart theorem is being applied for the algebras $SU(3)\supset SO(3)$, no $1/\sqrt{2L+1}$ appear. 

$$\Big\langle[f'](\lambda'\mu'),K',L',M_{L'},S',M_{S'}\Big|\big\{a^{\dagger}_{(\eta0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)K_0L_0S_0}_{\hspace{17mm}M_{L_0}M_{S_0}}\Big|[f](\lambda\mu),K,L,M_{L},S,M_{S}\Big\rangle \\\\= \sum_{l,l',m_l,m_{l'},m_s,m{_s'}}\langle(\eta0)0l';(0\eta)0l||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle l'm_{l'}lm_l|L_0M_{L_0}\rangle \langle\frac{1}{2}m_{s'}\frac{1}{2}m_{s}|S_0M_{S_0}\rangle \\ \times \Big\langle[f'](\lambda'\mu'),K',L',M_{L'},S',M_{S'}\Big|a^{\dagger}_{(\eta0)l'm_{l'}\frac{1}{2}m_{s'}}\tilde{a}_{(0\eta)lm_l\frac{1}{2}m_s}\Big|[f](\lambda\mu),K,L,M_{L},S,M_{S}\Big\rangle \\ = \sum_{l,l',m_l,m_{l'},m_s,m_{s'}}\langle(\eta0)0l';(0\eta)0l||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle l'm_{l'}lm_l|L_0M_{L_0}\rangle \langle\frac{1}{2}m_{s'}\frac{1}{2}m_{s}|S_0M_{S_0}\rangle \\ \times \sum_{[f''](\lambda''\mu'')K''L''M_{L''}S''M_{S''}}    \Big\langle[f'](\lambda'\mu'),K',L',M_{L'},S',M_{S'}\Big|a^{\dagger}_{(\eta0)l'm_{l'}\frac{1}{2}m_{s'}}\Big|[f''](\lambda''\mu''),K'',L'',M_{L''},S'',M_{S''}\Big\rangle \\ \hspace{40mm}\times\Big\langle[f''](\lambda''\mu''),K'',L'',M_{L''},S'',M_{S''}\Big|\tilde{a}_{(0\eta)lm_l\frac{1}{2}m_s}\Big|[f](\lambda\mu),K,L,M_{L},S,M_{S}\Big\rangle \\ = \sum_{l,l',m_l,m_{l'},m_s,m_{s'}}\langle(\eta0)0l';(0\eta)0l||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle l'm_{l'}lm_l|L_0M_{L_0}\rangle \langle\frac{1}{2}m_{s'}\frac{1}{2}m_{s}|S_0M_{S_0}\rangle \\ \times \sum_{[f''](\lambda''\mu'')K''L''M_{L''}S''M_{S''}}
\Bigg(\langle(\lambda''\mu'')K''L'';(\eta0)0l' ||(\lambda'\mu')K'L'\rangle_{\rho_1=1}\langle L''M_{L''}l'm_{l'}|L'M_{L'}\rangle
\frac{\langle S''M_{S''}\frac{1}{2}m_{s'}|S'M_{S'}\rangle}{\sqrt{2S'+1}}\\ \times
\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1} \Bigg) \\
\Bigg(\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho_2=1} \langle LM_{L}lm_{l}|L''M_{L''}\rangle
\frac{\langle SM_{S}\frac{1}{2}m_{s}|S''M_{S''}\rangle}{\sqrt{2S''+1}}
\Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho_2=1} \Bigg) 
$$

<li>Apply Wigner-Eckart theorem on the left hand side and reorganize the right hand side of the equality.

$$\sum_{\rho} \langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\rho}
\langle LM_{L}L_oM_{L_o}|L'M_{L'}\rangle
\frac{\langle SM_{S}S_oM_{S_o}|S'M_{S'}\rangle}{\sqrt{2S'+1}}
\\\hspace{60mm}\times\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho}\\\\
= \sum_{ll'(\lambda''\mu'')K''L''S''}
\langle(\eta0)0l';(0\eta)0l||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle(\lambda''\mu'')K''L'';(\eta0)0l' ||(\lambda'\mu')K'L'\rangle_{\rho_1=1}\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho_2=1}
\\\times\sum_{m_l,m_{l'},M_{L''}}
\langle LM_{L}lm_{l}|L''M_{L''}\rangle
\langle l'm_{l'}lm_l|L_0M_{L_0}\rangle
\langle L''M_{L''}l'm_{l'}|L'M_{L'}\rangle
\\\times\sum_{m_s,m_{s'},M_{S''}}
\frac{\langle SM_{S}\frac{1}{2}m_{s}|S''M_{S''}\rangle}{\sqrt{2S''+1}}
\langle\frac{1}{2}m_{s'}\frac{1}{2}m_{s}|S_0M_{S_0}\rangle
\frac{\langle S''M_{S''}\frac{1}{2}m_{s'}|S'M_{S'}\rangle}{\sqrt{2S'+1}}
\\\times\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1}\Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho_2=1}
$$



<li>Simplify $\sqrt{(2S'+1)}$ denominators. Multiply by $\sum_{M_L,M_{L_o}}\langle LM_{L}L_oM_{L_o}|L'M_{L'}\rangle$ and $\sum_{M_S,M_{S_o}}\langle SM_{S}S_oM_{S_o}|S'M_{S'}\rangle$. Apply orthogonality on the left hand side. Apply symmetry properties $\langle l'm_{l'}lm_l|L_0M_{L_0}\rangle = (-1)^{l+l'-L_o}\langle lm_ll'm_{l'}|L_0M_{L_0}\rangle$ and $\langle\frac{1}{2}m_{s'}\frac{1}{2}m_{s}|S_0M_{S_0}\rangle= (-1)^{1-S_o}\langle\frac{1}{2}m_{s}\frac{1}{2}m_{s'}|S_0M_{S_0}\rangle$.


$$\sum_{\rho} \langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\rho}\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho}\\\\ = \sum_{ll'(\lambda''\mu'')K''L''S''}
\langle(\eta0)0l';(0\eta)0l||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle(\lambda''\mu'')K''L'';(\eta0)0l' ||(\lambda'\mu')K'L'\rangle_{\rho_1=1}\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho_2=1}
\\ \times \sum_{m_l,m_{l'},M_{L''},M_{L_o},M_L}
(-1)^{l+l'-L_o}\langle LM_{L}lm_{l}|L''M_{L''}\rangle
\langle lm_ll'm_{l'}|L_0M_{L_0}\rangle
\langle L''M_{L''}l'm_{l'}|L'M_{L'}\rangle\langle LM_{L}L_oM_{L_o}|L'M_{L'}\rangle
\\ \times \sum_{m_s,m_{s'},M_{S''},M_{S_o},M_S}
(-1)^{1-S_o}\frac{\langle SM_{S}\frac{1}{2}m_{s}|S''M_{S''}\rangle}{\sqrt{2S''+1}}
\langle\frac{1}{2}m_{s}\frac{1}{2}m_{s'}|S_0M_{S_0}\rangle
\langle S''M_{S''}\frac{1}{2}m_{s'}|S'M_{S'}\rangle\langle SM_{S}S_oM_{S_o}|S'M_{S'}\rangle
\\\times\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1}\Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho_2=1}
$$


<li>Group the Clebsch-Gordan coefficients in the $U(j_1,j_2,j,j_3;j_{12},j_{23})$ coefficient.


$$\sum_{\rho} \langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\rho}\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho}\\\\ = \sum_{ll'(\lambda''\mu'')K''L''S''}
\langle(\eta0)0l';(0\eta)0l||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle(\lambda''\mu'')K''L'';(\eta0)0l' ||(\lambda'\mu')K'L'\rangle_{\rho_1=1}\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho_2=1}
\\ \times \frac{(-1)^{l+l'-L_o-S_o+1}}{\sqrt{2S''+1}}U(L,l,L',l';L'',L_o)U(S,1/2,S',1/2;S'',S_o)
\\\times\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1}\Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho_2=1}
$$

<li>Multiply by $\sum_{K,L,K_o,L_o} \langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\rho}$ and apply $SU(3)$ orthogonality relations in the left hand side.


$$\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho}\\\\
= \sum_{l,l',[f''],(\lambda''\mu''),K'',L'',S'',K,L,K_o,L_o}
\langle(\eta0)0l';(0\eta)0l||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle(\lambda''\mu'')K''L'';(\eta0)0l' ||(\lambda'\mu')K'L'\rangle_{\rho_1=1}\\\hspace{50mm}\times\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho_2=1}\langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\rho}
\\ \times \frac{(-1)^{l+l'-L_o-S_o+1}}{\sqrt{2S''+1}}U(L,l,L',l';L'',L_o)U(S,1/2,S',1/2;S'',S_o)
\\\times\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1}\Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho_2=1}
$$

<li>Apply $SU(3)$ symmetry relations on $\langle(\eta0)0l';(0\eta)0l||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1} = (-1)^{\eta+\eta-\lambda_o-\mu_o+l'+l-L_o}\langle(0\eta)0l;(\eta0)0l'||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}$

$$\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho}\\\\
= \sum_{l,l',[f''],(\lambda''\mu''),K'',L'',S'',K,L,K_o,L_o}
\langle(0\eta)0l;(\eta0)0l'||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle(\lambda''\mu'')K''L'';(\eta0)0l' ||(\lambda'\mu')K'L'\rangle_{\rho_1=1}\\\hspace{50mm}\times\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho_2=1}\langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\rho}
\\ \times \frac{(-1)^{-S_o+1+\eta-\lambda_o+\eta-\mu_o}}{\sqrt{2S''+1}}U(L,l,L',l';L'',L_o)U(S,1/2,S',1/2;S'',S_o)
\\\times\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1}\Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho_2=1}
$$
    
<li> Relate $\Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho_2=1}$ to $\Big\langle[f](\lambda\mu),S\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1}$
    
$$\Big\langle[f''](\lambda''\mu''),K'',L'',M_{L''},S'',M_{S''}\Big|\tilde{a}_{(0\eta)lm_l\frac{1}{2}m_s}\Big|[f](\lambda\mu),K,L,M_{L},S,M_{S}\Big\rangle\\
=\langle LM_{L}lm_{l}|L''M_{L''}\rangle
\frac{\langle SM_{S}\frac{1}{2}m_{s}|S''M_{S''}\rangle}{\sqrt{2S''+1}}
\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho=1} \Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho=1}\\
=\Big\langle[f](\lambda\mu),K,L,M_{L},S,M_{S}\Big|(-1)^{\eta+l-m_l+\frac{1}{2}-m_s}a^{\dagger}_{(\eta0)l-m_{l}\frac{1}{2}-m_{s}}\Big|[f''](\lambda''\mu''),K'',L'',M_{L''},S'',M_{S''}\Big\rangle\\
= (-1)^{\eta+l-m_l+\frac{1}{2}-m_s}\langle L''M_{L''}l-m_{l}|LM_{L}\rangle
\frac{\langle S''M_{S''}\frac{1}{2}-m_{s}|SM_{S}\rangle}{\sqrt{2S+1}}\langle(\lambda''\mu'')K''L'';(\eta0)0l ||(\lambda\mu)KL\rangle_{\rho=1}\\ \times\Big\langle[f](\lambda\mu),S\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho=1}
$$
 
<li> Apply $\langle L''M_{L''}l-m_{l}|LM_{L}\rangle = (-1)^{L''-M_{L''}+L-M_L}\sqrt{\frac{2L+1}{2L''+1}}\langle LM_{L}lm_{l}|L''M_{L''}\rangle$ and $\langle S''M_{S''}\frac{1}{2}-m_{s}|SM_{S}\rangle = (-1)^{S''-M_{S''}+S-M_S}\sqrt{\frac{2S+1}{2S''+1}}\langle SM_{S}\frac{1}{2}m_{s}|S''M_{S''}\rangle$. Simplify the Clebsch-Gordan
    
$$\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho=1} \Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho=1}\\
= (-1)^{\eta+l-m_l+\frac{1}{2}-m_s+L''-M_{L''}+L-M_L+S''-M_{S''}+S-M_S}\langle(\lambda''\mu'')K''L'';(\eta0)0l ||(\lambda\mu)KL\rangle_{\rho=1} \sqrt{\frac{2L+1}{2L''+1}} \\\times \Big\langle[f](\lambda\mu),S\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho=1}
$$

<li> Apply symmetry relation $\langle(\lambda''\mu'')K''L'';(\eta0)0l ||(\lambda\mu)KL\rangle_{\rho=1} = (-1)^{\lambda''-\lambda+\mu''-\mu+L''+l-L}\sqrt{\frac{\text{dim}(\lambda\mu)(2L''+1)}{\text{dim}(\lambda''\mu'')(2L+1)}}\langle(\lambda\mu)KL;(0\eta)0l ||(\lambda''\mu'')K''L''\rangle_{\rho=1}$. Cancel the $SU(3)$ coefficients and simplify the phase.
    
$$\Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho=1}\\
= (-1)^{\eta+l-m_l+\frac{1}{2}-m_s+L''-M_{L''}+L-M_L+S''-M_{S''}+S-M_S}(-1)^{\lambda''-\lambda+\mu''-\mu+L''+l-L}\sqrt{\frac{\text{dim}(\lambda\mu)}{\text{dim}(\lambda''\mu'')}}\Big\langle[f](\lambda\mu),S\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho=1}\\
= (-1)^{\eta+\frac{1}{2}+S+S''+\lambda''-\lambda+\mu''-\mu}\sqrt{\frac{\text{dim}(\lambda\mu)}{\text{dim}(\lambda''\mu'')}}\Big\langle[f](\lambda\mu),S\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho=1}
$$

<li> Replace this result and simplify.
   
    
$$\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho}\\\\
= \sum_{l,l',[f''],(\lambda''\mu''),K'',L'',S'',K,L,K_o,L_o}
\langle(0\eta)0l;(\eta0)0l'||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle(\lambda''\mu'')K''L'';(\eta0)0l' ||(\lambda'\mu')K'L'\rangle_{\rho_1=1}\\\hspace{50mm}\times\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho_2=1}\langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\rho}
\\ \times \frac{(-1)^{-S_o+1+\eta-\lambda_o+\eta-\mu_o}}{\sqrt{(2S''+1)}}U(L,l,L',l';L'',L_o)U(S,1/2,S',1/2;S'',S_o)
\\\times\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1}(-1)^{\eta+\frac{1}{2}+S+S''+\lambda''-\lambda+\mu''-\mu}\sqrt{\frac{\text{dim}(\lambda\mu)}{\text{dim}(\lambda''\mu'')}}\Big\langle[f](\lambda\mu),S\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_2=1}\\
= \sum_{l,l',[f''],(\lambda''\mu''),K'',L'',S'',K,L,K_o,L_o}
\langle(0\eta)0l;(\eta0)0l'||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle(\lambda''\mu'')K''L'';(\eta0)0l' ||(\lambda'\mu')K'L'\rangle_{\rho_1=1}\\\hspace{50mm}\times\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho_2=1}\langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\rho}
\\ \times \frac{(-1)^{\lambda''+\mu''-\lambda-\mu-\lambda_o-\mu_o+\eta+\frac{3}{2}+S+S''-S_o}}{\sqrt{2S''+1}}U(L,l,L',l';L'',L_o)U(S,1/2,S',1/2;S'',S_o)
\\\times\sqrt{\frac{\text{dim}(\lambda\mu)}{\text{dim}(\lambda''\mu'')}}\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1}\Big\langle[f](\lambda\mu),S\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_2=1}
$$
    
<li> Reorganize the expression.
    
$$\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho}\\\\
= \sum_{[f''](\lambda''\mu''),S''}(-1)^{\lambda''+\mu''-\lambda-\mu-\lambda_o-\mu_o+\eta+\frac{3}{2}+S+S''-S_o}\sqrt{\frac{\text{dim}(\lambda\mu)}{\text{dim}(\lambda''\mu'')}}\frac{U(S,1/2,S',1/2;S'',S_o)}{\sqrt{(2S''+1)}}\\\times\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1}\Big\langle[f](\lambda\mu),S\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_2=1}\\
\times \sum_{l,l',K'',L'',K,L,K_o,L_o}
\langle(0\eta)0l;(\eta0)0l'||(\lambda_0\mu_0),K_0,L_0\rangle_{\rho_0=1}\langle(\lambda''\mu'')K''L'';(\eta0)0l' ||(\lambda'\mu')K'L'\rangle_{\rho_1=1}\\\hspace{50mm}\times\langle(\lambda\mu),K,L;(0\eta)0l ||(\lambda''\mu''),K'',L''\rangle_{\rho_2=1}\langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\rho}U(L,l,L',l';L'',L_o)
$$   
    
<li>Group the $SU(3)$ Wigner coefficients in $U((\lambda\mu),(0\eta),(\lambda'\mu'),(\eta0);(\lambda''\mu'')1,1,(\lambda_o\mu_o),1,\rho)$
    
    
$$\boxed{\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho}\\\\
= \sum_{[f''](\lambda''\mu''),S''}(-1)^{\lambda''+\mu''-\lambda-\mu-\lambda_o-\mu_o+\eta+\frac{3}{2}+S+S''-S_o}\sqrt{\frac{\text{dim}(\lambda\mu)}{\text{dim}(\lambda''\mu'')}}\frac{U(S,1/2,S',1/2;S'',S_o)}{\sqrt{(2S''+1)}}\\\times U((\lambda\mu),(0\eta),(\lambda'\mu'),(\eta0);(\lambda''\mu'')1,1,(\lambda_o\mu_o),1,\rho)\Big\langle[f'](\lambda'\mu'),S'\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_1=1}\Big\langle[f](\lambda\mu),S\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho_2=1}}
$$   
    
<li> For $S=S'=S_o=0$ and $S''=1/2$   
    
$$\boxed{\Big\langle[f'](\lambda'\mu'),S'=0\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0=0}\Big|\Big|\Big|[f](\lambda\mu),S=0\Big\rangle_{\rho}\\\\
= \sum_{[f''](\lambda''\mu'')}(-1)^{\lambda''+\mu''-\lambda-\mu-\lambda_o-\mu_o+\eta}\sqrt{\frac{\text{dim}(\lambda\mu)}{2\text{dim}(\lambda''\mu'')}}U((\lambda\mu),(0\eta),(\lambda'\mu'),(\eta0);(\lambda''\mu'')1,1,(\lambda_o\mu_o),1,\rho)\\\times \Big\langle[f'](\lambda'\mu'),S'=0\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''=\frac{1}{2}\Big\rangle_{\rho_1=1}\Big\langle[f](\lambda\mu),S=0\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''=\frac{1}{2}\Big\rangle_{\rho_2=1}}
$$   
</ul>

# $SU(3)$ one-body reduced matrix elements acting on different shells

<ul>
<li>Uncoupling of the complete matrix element and application of Wigner-Eckart theorem. Notice that since the Wigner-Eckart theorem is being applied for the algebras $SU(3)\supset SO(3)$, no $1/\sqrt{2L+1}$ appear. 

$$\Big\langle[f'_-]\otimes[f'_+],(\lambda'_-\mu'_-)\otimes(\lambda'_+\mu'_+),\rho'(\lambda'\mu'),K',L',M_{L'},S',M_{S'}\Big|\\\times\big\{a^{\dagger}_{(\eta'0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)K_0L_0S_0}_{\hspace{17mm}M_{L_0}M_{S_0}}
\\\times\Big|[f_-]\otimes[f_+],(\lambda_-\mu_-)\otimes(\lambda_+\mu_+),\rho(\lambda\mu),K,L,M_{L},S,M_{S}\Big\rangle 
\\\\= \sum_{\substack{K'_{-}, L'_{-},M_{L'_{-}},K'_{+}, L'_{+},M_{L'_{+}},S'_-,M_{S'_{-}},S'_+,M_{S'_{+}} \\ l',m_{l'},m_{s'},l,m_l,m_s \\ K_{-}, L_{-},M_{L_{-}},K_{+}, L_{+},M_{L_{+}},S_-,M_{S_{-}},S_+,M_{S_{+}}}} 
\\\langle(\lambda'_-\mu'_-),K'_-,L'_-; (\lambda'_+\mu'_+),K'_+,L'_+||(\lambda'\mu'),K',L'\rangle_{\rho'}
\langle L'_-,M_{L'_-},L'_+,M_{L'_+}|L',M_{L'}\rangle  \langle S'_-,M_{S'_-},S'_+,M_{S'_+}|S',M_{S'}\rangle
\\\times\langle(\eta',0),0,l'; (0,\eta),0,l||(\lambda_o\mu_o),K_o,L_o\rangle_{\rho_o=1}
\langle l',m_{l'},l,m_{l}|L_o,M_{L_o}\rangle  \langle \frac{1}{2},m_{s'},\frac{1}{2},m_{s}|S_o,M_{S_o}\rangle
\\\times\langle(\lambda_-\mu_-),K_-,L_-; (\lambda_+\mu_+),K_+,L_+||(\lambda\mu),K,L\rangle_{\rho}
\langle L_-,M_{L_-},L_+,M_{L_+}|L,M_{L}\rangle  \langle S_-,M_{S_-},S_+,M_{S_+}|S,M_{S}\rangle
\\\times\Big\langle[f'_-],(\lambda'_-\mu'_-),K'_-,L'_-,M_{L'_-},S'_-,M_{S'_-}\Big|a^{\dagger}_{(\eta'0),0,l',m_{l'}\frac{1}{2},m_{s'}}\Big| [f_-],(\lambda_-\mu_-),K_-,L_-,M_{L_-},S_-,M_{S_-}\Big\rangle
\\\times\Big\langle [f'_+],(\lambda'_+\mu'_+),K'_+,L'_+,M_{L'_+},S'_+,M_{S'_+} \Big|\tilde{a}_{(0\eta),0,l,m_{l}\frac{1}{2},m_{s}}\Big|[f_+],(\lambda_+\mu_+),K_+,L_+,M_{L_+},S_+,M_{S_+}\Big\rangle
\\\\= \sum_{\substack{K'_{-}, L'_{-},M_{L'_{-}},K'_{+}, L'_{+},M_{L'_{+}},S'_-,M_{S'_{-}},S'_+,M_{S'_{+}} \\ l',m_{l'},m_{s'},l,m_l,m_s \\ K_{-}, L_{-},M_{L_{-}},K_{+}, L_{+},M_{L_{+}},S_-,M_{S_{-}},S_+,M_{S_{+}}}} 
\\\langle(\lambda'_-\mu'_-),K'_-,L'_-; (\lambda'_+\mu'_+),K'_+,L'_+||(\lambda'\mu'),K',L'\rangle_{\rho'}
\langle L'_-,M_{L'_-},L'_+,M_{L'_+}|L',M_{L'}\rangle  \langle S'_-,M_{S'_-},S'_+,M_{S'_+}|S',M_{S'}\rangle
\\\times\langle(\eta',0),0,l'; (0,\eta),0,l||(\lambda_o\mu_o),K_o,L_o\rangle_{\rho_o=1}
\langle l',m_{l'},l,m_{l}|L_o,M_{L_o}\rangle  \langle \frac{1}{2},m_{s'},\frac{1}{2},m_{s}|S_o,M_{S_o}\rangle
\\\times\langle(\lambda_-\mu_-),K_-,L_-; (\lambda_+\mu_+),K_+,L_+||(\lambda\mu),K,L\rangle_{\rho}
\langle L_-,M_{L_-},L_+,M_{L_+}|L,M_{L}\rangle  \langle S_-,M_{S_-},S_+,M_{S_+}|S,M_{S}\rangle
\\\times\langle(\lambda_-\mu_-),K_-,L_-; (\eta'0),0, l'||(\lambda'_-\mu'_-),K'_-,L'_-\rangle_{\rho=1}\langle L_-,M_{L_-},l',m_{l'}|L'_-,M_{L'_-}\rangle\frac{\langle S_-,M_{S_-},\frac{1}{2},m_{s'}|S'_-,M_{S'_-}\rangle}{\sqrt{2S'_-+1}}
\\\times\Big\langle[f'_-],(\lambda'_-\mu'_-),S'_-\Big|\Big|\Big|a^{\dagger}_{(\eta'0)\frac{1}{2}}\Big|\Big|\Big| [f_-],(\lambda_-\mu_-)S_-\Big\rangle_{\rho=1}
\\\times\langle(\lambda_+\mu_+),K_+,L_+; (0\eta),0, l||(\lambda'_+\mu'_+),K'_+,L'_+\rangle_{\rho=1}\langle L_+,M_{L_+},l,m_{l}|L'_+,M_{L'_+}\rangle\frac{\langle S_+,M_{S_+},\frac{1}{2},m_{s}|S'_+,M_{S'_+}\rangle}{\sqrt{2S'_+ +1}}
\\\times\Big\langle [f'_+],(\lambda'_+\mu'_+),S'_+\Big|\Big|\Big|\tilde{a}_{(0\eta),\frac{1}{2}}\Big|\Big|\Big|[f_+],(\lambda_+\mu_+),S_+\Big\rangle_{\rho=1}\\
$$
    
   
 
<li>Apply Wigner-Eckart theorem on the left hand side 
    
$$ 
\Big\langle[f'_-]\otimes[f'_+],(\lambda'_-\mu'_-)\otimes(\lambda'_+\mu'_+),\rho'(\lambda'\mu'),K',L',M_{L'},S',M_{S'}\Big|\\\times\big\{a^{\dagger}_{(\eta'0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)K_0L_0S_0}_{\hspace{17mm}M_{L_0}M_{S_0}}
\\\times\Big|[f_-]\otimes[f_+],(\lambda_-\mu_-)\otimes(\lambda_+\mu_+),\rho(\lambda\mu),K,L,M_{L},S,M_{S}\Big\rangle
\\= \sum_{\bar{\rho}} \langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\bar{\rho}}
\langle LM_{L}L_oM_{L_o}|L'M_{L'}\rangle
\frac{\langle SM_{S}S_oM_{S_o}|S'M_{S'}\rangle}{\sqrt{2S'+1}}
\\\times\Big\langle[f'_-]\otimes[f'_+],(\lambda'_-\mu'_-)\otimes(\lambda'_+\mu'_+),\rho'(\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta'0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f_-]\otimes[f_+],(\lambda_-\mu_-)\otimes(\lambda_+\mu_+),\rho(\lambda\mu),S\Big\rangle_{\bar{\rho}}\\\\\\
$$
    
    
<li>Multiply by $\sum_{K,L,K_o,L_o} \langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\bar{\rho}}$ and apply $SU(3)$ orthogonality relations in the left hand side. Multiply by $\sum_{M_L,M_{L_o}}\langle LM_{L}L_oM_{L_o}|L'M_{L'}\rangle$ and $\sum_{M_S,M_{S_o}}\langle SM_{S}S_oM_{S_o}|S'M_{S'}\rangle$. Apply orthogonality and group the $SU(3)$, $SO(3)$ and $SU(2)$ coefficients. Multiply by $\sqrt{2S'+1}$.
    
$$  
\Big\langle[f'_-]\otimes[f'_+],(\lambda'_-\mu'_-)\otimes(\lambda'_+\mu'_+),\rho'(\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta'0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f_-]\otimes[f_+],(\lambda_-\mu_-)\otimes(\lambda_+\mu_+),\rho(\lambda\mu),S\Big\rangle_{\bar{\rho}}
\\= \sum_{\substack{K'_{-}, L'_{-},M_{L'_{-}},K'_{+}, L'_{+},M_{L'_{+}},S'_-,M_{S'_{-}},S'_+,M_{S'_{+}} \\ l',m_{l'},m_{s'},l,m_l,m_s \\ K_{-}, L_{-},M_{L_{-}},K_{+}, L_{+},M_{L_{+}},S_-,M_{S_{-}},S_+,M_{S_{+}} \\ K,L,K_o,L_o,M_L,M_{L_o},M_S,M_{S_o} }} 
\\\langle(\lambda'_-\mu'_-),K'_-,L'_-; (\lambda'_+\mu'_+),K'_+,L'_+||(\lambda'\mu'),K',L'\rangle_{\rho'}
\langle L'_-,M_{L'_-},L'_+,M_{L'_+}|L',M_{L'}\rangle  \langle S'_-,M_{S'_-},S'_+,M_{S'_+}|S',M_{S'}\rangle
\\\times\langle(\eta',0),0,l'; (0,\eta),0,l||(\lambda_o\mu_o),K_o,L_o\rangle_{\rho_o=1}
\langle l',m_{l'},l,m_{l}|L_o,M_{L_o}\rangle  \langle \frac{1}{2},m_{s'},\frac{1}{2},m_{s}|S_o,M_{S_o}\rangle
\\\times\langle(\lambda_-\mu_-),K_-,L_-; (\lambda_+\mu_+),K_+,L_+||(\lambda\mu),K,L\rangle_{\rho}
\langle L_-,M_{L_-},L_+,M_{L_+}|L,M_{L}\rangle  \langle S_-,M_{S_-},S_+,M_{S_+}|S,M_{S}\rangle
\\\times\langle(\lambda_-\mu_-),K_-,L_-; (\eta'0),0, l'||(\lambda'_-\mu'_-),K'_-,L'_-\rangle_{\rho=1}\langle L_-,M_{L_-},l',m_{l'}|L'_-,M_{L'_-}\rangle\frac{\langle S_-,M_{S_-},\frac{1}{2},m_{s'}|S'_-,M_{S'_-}\rangle}{\sqrt{2S'_-+1}}
\\\times\Big\langle[f'_-],(\lambda'_-\mu'_-),S'_-\Big|\Big|\Big|a^{\dagger}_{(\eta'0)\frac{1}{2}}\Big|\Big|\Big| [f_-],(\lambda_-\mu_-)S_-\Big\rangle_{\rho=1}
\\\times\langle(\lambda_+\mu_+),K_+,L_+; (0\eta),0, l||(\lambda'_+\mu'_+),K'_+,L'_+\rangle_{\rho=1}\langle L_+,M_{L_+},l,m_{l}|L'_+,M_{L'_+}\rangle\frac{\langle S_+,M_{S_+},\frac{1}{2},m_{s}|S'_+,M_{S'_+}\rangle}{\sqrt{2S'_+ +1}}
\\\times\Big\langle [f'_+],(\lambda'_+\mu'_+),S'_+\Big|\Big|\Big|\tilde{a}_{(0\eta),\frac{1}{2}}\Big|\Big|\Big|[f_+],(\lambda_+\mu_+),S_+\Big\rangle_{\rho=1}\\
\times \sqrt{2S'+1} \langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\bar{\rho}}\langle LM_{L}L_oM_{L_o}|L'M_{L'}\rangle \langle SM_{S}S_oM_{S_o}|S'M_{S'}\rangle
\\\\\\\\=
\sum_{\substack{K'_{-}, L'_{-},K'_{+}, L'_{+} \\ l',l \\ K_{-}, L_{-},,K_{+}, L_{+}\\ K,L,K_o,L_o}} 
\\\times\langle(\lambda'_-\mu'_-),K'_-,L'_-; (\lambda'_+\mu'_+),K'_+,L'_+||(\lambda'\mu'),K',L'\rangle_{\rho'}
\\\times\langle(\eta',0),0,l'; (0,\eta),0,l||(\lambda_o\mu_o),K_o,L_o\rangle_{\rho_o=1}
\\\times\langle(\lambda_-\mu_-),K_-,L_-; (\lambda_+\mu_+),K_+,L_+||(\lambda\mu),K,L\rangle_{\rho}
\\\times\langle(\lambda_-\mu_-),K_-,L_-; (\eta'0),0, l'||(\lambda'_-\mu'_-),K'_-,L'_-\rangle_{\rho=1}
\\\times\langle(\lambda_+\mu_+),K_+,L_+; (0\eta),0, l||(\lambda'_+\mu'_+),K'_+,L'_+\rangle_{\rho=1}
\\\times\langle(\lambda\mu),K,L;(\lambda_o\mu_o)K_oL_o ||(\lambda'\mu'),K',L'\rangle_{\bar{\rho}}
\\\\\sum_{\substack{M_{L'_{-}},M_{L'_{+}} \\ m_{l'},m_l, M_{L_{-}},M_{L_{+}}, M_L,M_{L_o} }} 
\\\times\langle L'_-,M_{L'_-},L'_+,M_{L'_+}|L',M_{L'}\rangle
\\\times\langle l',m_{l'},l,m_{l}|L_o,M_{L_o}\rangle
\\\times\langle L_-,M_{L_-},L_+,M_{L_+}|L,M_{L}\rangle  
\\\times\langle L_-,M_{L_-},l',m_{l'}|L'_-,M_{L'_-}\rangle
\\\times\langle L_+,M_{L_+},l,m_{l}|L'_+,M_{L'_+}\rangle
\\\times\langle LM_{L}L_oM_{L_o}|L'M_{L'}\rangle
\\\\\sum_{\substack{S'_-,M_{S'_{-}},S'_+,M_{S'_{+}} \\ m_{s'},m_s, S_-,M_{S_{-}},S_+,M_{S_{+}},M_S,M_{S_o} }} 
\\\times\langle S'_-,M_{S'_-},S'_+,M_{S'_+}|S',M_{S'}\rangle
\\\times\langle \frac{1}{2},m_{s'},\frac{1}{2},m_{s}|S_o,M_{S_o}\rangle
\\\times\langle S_-,M_{S_-},S_+,M_{S_+}|S,M_{S}\rangle
\\\times\langle S_-,M_{S_-},\frac{1}{2},m_{s'}|S'_-,M_{S'_-}\rangle
\\\times\langle S_+,M_{S_+},\frac{1}{2},m_{s}|S'_+,M_{S'_+}\rangle
\\\times\langle SM_{S}S_oM_{S_o}|S'M_{S'}\rangle\frac{\sqrt{2S'+1}}{\sqrt{2S'_-+1}\sqrt{2S'_+ +1}}
\\\\\times \Big\langle[f'_-],(\lambda'_-\mu'_-),S'_-\Big|\Big|\Big|a^{\dagger}_{(\eta'0)\frac{1}{2}}\Big|\Big|\Big| [f_-],(\lambda_-\mu_-)S_-\Big\rangle_{\rho=1}\Big\langle [f'_+],(\lambda'_+\mu'_+),S'_+\Big|\Big|\Big|\tilde{a}_{(0\eta),\frac{1}{2}}\Big|\Big|\Big|[f_+],(\lambda_+\mu_+),S_+\Big\rangle_{\rho=1}
$$    
    

<li> The grouped summations are the unitary 9-j symbols. No sum over $ S'_-,S'_+, S_-,S_+$ will appear since these labels are fixed by the irreps $[f'_-],[f'_+],[f_-],[f_+]$ respectively
    
$$  
\boxed{
\Big\langle[f'_-]\otimes[f'_+],(\lambda'_-\mu'_-)\otimes(\lambda'_+\mu'_+),\rho'(\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta'0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f_-]\otimes[f_+],(\lambda_-\mu_-)\otimes(\lambda_+\mu_+),\rho(\lambda\mu),S\Big\rangle_{\bar{\rho}}
\\= \chi\begin{Bmatrix}
  (\lambda_-,\mu_-) & (\eta',0) & (\lambda'_-,\mu'_-) & \rho=1\\
  (\lambda_+,\mu_+) & (0,\eta) & (\lambda'_+,\mu'_+) & \rho=1\\
  (\lambda,\mu) & (\lambda_o,\mu_o) & (\lambda',\mu') & \bar{\rho}\\
  \rho & \rho=1 & \rho'&
 \end{Bmatrix}
\chi\begin{Bmatrix}
  S_- & \frac{1}{2} & S'_- \\
  S_+ & \frac{1}{2} & S'_+ \\
  S & S_o & S' \\
 \end{Bmatrix}\frac{\sqrt{2S'+1}}{\sqrt{2S'_-+1}\sqrt{2S'_+ +1}}
\\\\ \times\Big\langle[f'_-],(\lambda'_-\mu'_-),S'_-\Big|\Big|\Big|a^{\dagger}_{(\eta'0)\frac{1}{2}}\Big|\Big|\Big| [f_-],(\lambda_-\mu_-)S_-\Big\rangle_{\rho=1}\Big\langle [f'_+],(\lambda'_+\mu'_+),S'_+\Big|\Big|\Big|\tilde{a}_{(0\eta),\frac{1}{2}}\Big|\Big|\Big|[f_+],(\lambda_+\mu_+),S_+\Big\rangle_{\rho=1}
}
$$    
   
<li> Using the relation
    
$$
\Big\langle[f''](\lambda''\mu''),S''\Big|\Big|\Big|\tilde{a}_{(0\eta)\frac{1}{2}}\Big|\Big|\Big|[f](\lambda\mu),S\Big\rangle_{\rho=1}
= (-1)^{\eta+\frac{1}{2}+S+S''+\lambda''-\lambda+\mu''-\mu}\sqrt{\frac{\text{dim}(\lambda\mu)}{\text{dim}(\lambda''\mu'')}}\Big\langle[f](\lambda\mu),S\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f''](\lambda''\mu''),S''\Big\rangle_{\rho=1}
$$

abvoe which results in 
    
$$  
\boxed{
\Big\langle[f'_-]\otimes[f'_+],(\lambda'_-\mu'_-)\otimes(\lambda'_+\mu'_+),\rho'(\lambda'\mu'),S'\Big|\Big|\Big| \big\{a^{\dagger}_{(\eta'0)\frac{1}{2}}\tilde{a}_{(0\eta)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0}\Big|\Big|\Big|[f_-]\otimes[f_+],(\lambda_-\mu_-)\otimes(\lambda_+\mu_+),\rho(\lambda\mu),S\Big\rangle_{\bar{\rho}}
\\= \chi\begin{Bmatrix}
  (\lambda_-,\mu_-) & (\eta',0) & (\lambda'_-,\mu'_-) & \rho=1\\
  (\lambda_+,\mu_+) & (0,\eta) & (\lambda'_+,\mu'_+) & \rho=1\\
  (\lambda,\mu) & (\lambda_o,\mu_o) & (\lambda',\mu') & \bar{\rho}\\
  \rho & \rho=1 & \rho'&
 \end{Bmatrix}
\chi\begin{Bmatrix}
  S_- & \frac{1}{2} & S'_- \\
  S_+ & \frac{1}{2} & S'_+ \\
  S & S_o & S' \\
 \end{Bmatrix}(-1)^{\eta+\frac{1}{2}+S_++S'_++\lambda'_+-\lambda_++\mu'_+-\mu_+}\sqrt{\frac{\text{dim}(\lambda_+\mu_+)}{\text{dim}(\lambda'_+\mu'_+)}}\frac{\sqrt{2S'+1}}{\sqrt{2S'_-+1}\sqrt{2S'_+ +1}}
\\\\ \times\Big\langle[f'_-],(\lambda'_-\mu'_-),S'_-\Big|\Big|\Big|a^{\dagger}_{(\eta'0)\frac{1}{2}}\Big|\Big|\Big| [f_-],(\lambda_-\mu_-)S_-\Big\rangle_{\rho=1}
\Big\langle[f_+],(\lambda_+\mu_+),S_+\Big|\Big|\Big|a^{\dagger}_{(\eta0)\frac{1}{2}}\Big|\Big|\Big|[f'_+],(\lambda'_+\mu'_+),S'_+\Big\rangle_{\rho=1}
}
$$  
    
<li> For $\eta=6$, $\eta'=5$, $[f'_-](\lambda'_-\mu'_-)=[2^4](26,4)$, $[f'_+](\lambda'_+\mu'_+)=[0](0,0)$,  $[f_-](\lambda_-\mu_-)=[2^3,1](25,2)$, $[f_+](\lambda_+\mu_+)=[1](6,0)$, $(\lambda'\mu')=(26,4)$, $(\lambda\mu)=(31,2)$, $S = S'=S_o = 0$. Proton model space.

$$  
\boxed{
\Big\langle[2^4]\otimes[0],(26,4)\otimes(0,0),1(26,4),0\Big|\Big|\Big| \big\{a^{\dagger}_{(5,0)\frac{1}{2}}\tilde{a}_{(0,6)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0=0}\Big|\Big|\Big|[2^3,1]\otimes[1],(25,2)\otimes(6,0),1(31,2),0\Big\rangle_{\bar{\rho}}
\\= \chi\begin{Bmatrix}
  (25,2) & (5,0) & (26,4) & \rho=1\\
  (6,0) & (0,6) & (0,0) & \rho=1\\
  (31,2) & (\lambda_o,\mu_o) & (26,4) & \bar{\rho}\\
  \rho=1 & \rho=1 & \rho'=1&
 \end{Bmatrix}
\chi\begin{Bmatrix}
  \frac{1}{2} & \frac{1}{2} & 0 \\
  \frac{1}{2} & \frac{1}{2} & 0 \\
  0 & 0 & 0 \\
 \end{Bmatrix}(-1)\sqrt{\frac{\text{dim}(6,0)}{\text{dim}(0,0)}}
\\\\ \times\Big\langle[2^4],(26,4),0\Big|\Big|\Big|a^{\dagger}_{(5,0)\frac{1}{2}}\Big|\Big|\Big| [2^3,1],(25,2)\frac{1}{2}\Big\rangle_{\rho=1}
\Big\langle[1],(6,0),\frac{1}{2}\Big|\Big|\Big|a^{\dagger}_{(6,0)\frac{1}{2}}\Big|\Big|\Big|[0],(0,0),0\Big\rangle_{\rho=1}
\\= \chi\begin{Bmatrix}
  (25,2) & (5,0) & (26,4) & \rho=1\\
  (6,0) & (0,6) & (0,0) & \rho=1\\
  (31,2) & (\lambda_o,\mu_o) & (26,4) & \bar{\rho}\\
  \rho=1 & \rho=1 & \rho'=1&
 \end{Bmatrix}\times\frac{1}{2}\times(-1)\times \sqrt{28}\times(-1.6451950239)\times 1
 \\= 4.3527768914\times\chi\begin{Bmatrix}
  (25,2) & (5,0) & (26,4) & \rho=1\\
  (6,0) & (0,6) & (0,0) & \rho=1\\
  (31,2) & (\lambda_o,\mu_o) & (26,4) & \bar{\rho}\\
  \rho=1 & \rho=1 & \rho'=1&
  \end{Bmatrix}
}
$$ 
    
    
    
<li> For $\eta=7$, $\eta'=6$, $[f'_-](\lambda'_-\mu'_-)=[2^4](34,4)$, $[f'_+](\lambda'_+\mu'_+)=[0](0,0)$,  $[f_-](\lambda_-\mu_-)=[2^3,1](32,2)$, $[f_+](\lambda_+\mu_+)=[1](7,0)$, $(\lambda'\mu')=(34,4)$, $(\lambda\mu)=(39,2)$, $S = S'=S_o = 0$. Neutron model space.

$$  
\boxed{
\Big\langle[2^4]\otimes[0],(34,4)\otimes(0,0),1(34,4),0\Big|\Big|\Big| \big\{a^{\dagger}_{(6,0)\frac{1}{2}}\tilde{a}_{(0,7)\frac{1}{2}}\big\}^{\rho_0=1,(\lambda_0\mu_0)S_0=0}\Big|\Big|\Big|[2^3,1]\otimes[1],(32,2)\otimes(7,0),1(39,2),0\Big\rangle_{\bar{\rho}}
\\= \chi\begin{Bmatrix}
  (32,2) & (6,0) & (34,4) & \rho=1\\
  (7,0) & (0,7) & (0,0) & \rho=1\\
  (39,2) & (\lambda_o,\mu_o) & (34,4) & \bar{\rho}\\
  \rho=1 & \rho=1 & \rho'=1&
 \end{Bmatrix}
\chi\begin{Bmatrix}
  \frac{1}{2} & \frac{1}{2} & 0 \\
  \frac{1}{2} & \frac{1}{2} & 0 \\
  0 & 0 & 0 \\
 \end{Bmatrix}(-1)\sqrt{\frac{\text{dim}(7,0)}{\text{dim}(0,0)}}
\\\\ \times\Big\langle[2^4],(34,4),0\Big|\Big|\Big|a^{\dagger}_{(6,0)\frac{1}{2}}\Big|\Big|\Big| [2^3,1],(32,2)\frac{1}{2}\Big\rangle_{\rho=1}
\Big\langle[1],(7,0),\frac{1}{2}\Big|\Big|\Big|a^{\dagger}_{(7,0)\frac{1}{2}}\Big|\Big|\Big|[0],(0,0),0\Big\rangle_{\rho=1}
\\= \chi\begin{Bmatrix}
  (32,2) & (6,0) & (34,4) & \rho=1\\
  (7,0) & (0,7) & (0,0) & \rho=1\\
  (39,2) & (\lambda_o,\mu_o) & (34,4) & \bar{\rho}\\
  \rho=1 & \rho=1 & \rho'=1&
 \end{Bmatrix}
\times \frac{1}{2}\times(-1)\times\sqrt{36}\times(-1.6387446021)\times 1
\\= 4.9162338063\times\chi\begin{Bmatrix}
  (32,2) & (6,0) & (34,4) & \rho=1\\
  (7,0) & (0,7) & (0,0) & \rho=1\\
  (39,2) & (\lambda_o,\mu_o) & (34,4) & \bar{\rho}\\
  \rho=1 & \rho=1 & \rho'=1&
 \end{Bmatrix}
}
$$  
  
</ul>

In [18]:
import numpy as np
import pandas as pd
from sympy.physics.quantum.cg import CG

In [19]:
Cp = 1/2*(-1)*np.sqrt(28)*(-1.6451950239)*1
print("Expression 1:", Cp)

Cn = 1/2*(-1)*np.sqrt(36)*(-1.6387446021)*1
print("Expression 2:", Cn)

Expression 1: 4.3527768914403655
Expression 2: 4.9162338063

In [20]:
# Load all 9-(l,m)

# One body 9-(l,m)
OB_neutron_2_3 = pd.read_csv("./224Th_one_body_9(lam,mu)_tables/9_coeffs_neutron_ex_(2,3).csv").drop(['Unnamed: 0'], axis = 1)
OB_neutron_3_4 = pd.read_csv("./224Th_one_body_9(lam,mu)_tables/9_coeffs_neutron_ex_(3,4).csv").drop(['Unnamed: 0'], axis = 1)
OB_neutron_4_5 = pd.read_csv("./224Th_one_body_9(lam,mu)_tables/9_coeffs_neutron_ex_(4,5).csv").drop(['Unnamed: 0'], axis = 1)
OB_neutron_5_6 = pd.read_csv("./224Th_one_body_9(lam,mu)_tables/9_coeffs_neutron_ex_(5,6).csv").drop(['Unnamed: 0'], axis = 1)
OB_neutron_6_7 = pd.read_csv("./224Th_one_body_9(lam,mu)_tables/9_coeffs_neutron_ex_(6,7).csv").drop(['Unnamed: 0'], axis = 1)

OB_proton_2_3 = pd.read_csv("./224Th_one_body_9(lam,mu)_tables/9_coeffs_proton_ex_(2,3).csv").drop(['Unnamed: 0'], axis = 1)
OB_proton_3_4 = pd.read_csv("./224Th_one_body_9(lam,mu)_tables/9_coeffs_proton_ex_(3,4).csv").drop(['Unnamed: 0'], axis = 1)
OB_proton_4_5 = pd.read_csv("./224Th_one_body_9(lam,mu)_tables/9_coeffs_proton_ex_(4,5).csv").drop(['Unnamed: 0'], axis = 1)
OB_proton_5_6 = pd.read_csv("./224Th_one_body_9(lam,mu)_tables/9_coeffs_proton_ex_(5,6).csv").drop(['Unnamed: 0'], axis = 1)

# Operator 9-(l,m)
O_neutron_2_3 = pd.read_csv("./224Th_RME_coeffs_tables/9_coeffs_neutron(2,3).csv").drop(['Unnamed: 0'], axis = 1)
O_neutron_3_4 = pd.read_csv("./224Th_RME_coeffs_tables/9_coeffs_neutron(3,4).csv").drop(['Unnamed: 0'], axis = 1)
O_neutron_4_5 = pd.read_csv("./224Th_RME_coeffs_tables/9_coeffs_neutron(4,5).csv").drop(['Unnamed: 0'], axis = 1)
O_neutron_5_6 = pd.read_csv("./224Th_RME_coeffs_tables/9_coeffs_neutron(5,6).csv").drop(['Unnamed: 0'], axis = 1)
O_neutron_6_7 = pd.read_csv("./224Th_RME_coeffs_tables/9_coeffs_neutron(6,7).csv").drop(['Unnamed: 0'], axis = 1)

O_proton_2_3 = pd.read_csv("./224Th_RME_coeffs_tables/9_coeffs_proton(2,3).csv").drop(['Unnamed: 0'], axis = 1)
O_proton_3_4 = pd.read_csv("./224Th_RME_coeffs_tables/9_coeffs_proton(3,4).csv").drop(['Unnamed: 0'], axis = 1)
O_proton_4_5 = pd.read_csv("./224Th_RME_coeffs_tables/9_coeffs_proton(4,5).csv").drop(['Unnamed: 0'], axis = 1)
O_proton_5_6 = pd.read_csv("./224Th_RME_coeffs_tables/9_coeffs_proton(5,6).csv").drop(['Unnamed: 0'], axis = 1)

# Load operator SU(3) Wigner coefficients
O_2_3_Wigner = pd.read_csv("./224Th_RME_coeffs_tables/SU3_Wigner_coeffs(2,3).csv").drop(['Unnamed: 0'], axis = 1)
O_3_4_Wigner = pd.read_csv("./224Th_RME_coeffs_tables/SU3_Wigner_coeffs(3,4).csv").drop(['Unnamed: 0'], axis = 1)
O_4_5_Wigner = pd.read_csv("./224Th_RME_coeffs_tables/SU3_Wigner_coeffs(4,5).csv").drop(['Unnamed: 0'], axis = 1)
O_5_6_Wigner = pd.read_csv("./224Th_RME_coeffs_tables/SU3_Wigner_coeffs(5,6).csv").drop(['Unnamed: 0'], axis = 1)
O_6_7_Wigner = pd.read_csv("./224Th_RME_coeffs_tables/SU3_Wigner_coeffs(6,7).csv").drop(['Unnamed: 0'], axis = 1)

In [21]:
print("OB_neutron_2_3")
display(OB_neutron_2_3)

print("OB_neutron_3_4")
display(OB_neutron_3_4)

print("OB_neutron_4_5")
display(OB_neutron_4_5)

print("OB_neutron_5_6")
display(OB_neutron_5_6)

print("OB_neutron_6_7")
display(OB_neutron_6_7)

print("OB_proton_2_3")
display(OB_proton_2_3)

print("OB_proton_3_4")
display(OB_proton_3_4)

print("OB_proton_4_5")
display(OB_proton_4_5)

print("OB_proton_5_6")
display(OB_proton_5_6)

print("O_neutron_2_3")
display(O_neutron_2_3)

print("O_neutron_3_4")
display(O_neutron_3_4)

print("O_neutron_4_5")
display(O_neutron_4_5)

print("O_neutron_5_6")
display(O_neutron_5_6)

print("O_neutron_6_7")
display(O_neutron_6_7)

print("O_proton_2_3")
display(O_proton_2_3)

print("O_proton_3_4")
display(O_proton_3_4)

print("O_proton_4_5")
display(O_proton_4_5)

print("O_proton_5_6")
display(O_proton_5_6)

print("O_2_3_Wigner")
display(O_2_3_Wigner)

print("O_3_4_Wigner")
display(O_3_4_Wigner)

print("O_4_5_Wigner")
display(O_4_5_Wigner)

print("O_5_6_Wigner")
display(O_5_6_Wigner)

print("O_6_7_Wigner")
display(O_6_7_Wigner)

OB_neutron_2_3

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.051919

OB_neutron_3_4

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0 -0.099657
1        1      0      0        0      0      0  0.005802

OB_neutron_4_5

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.120391
1        1      0      0        0      0      0 -0.010532
2        2      0      0        0      0      0  0.000358

OB_neutron_5_6

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.100020
1        1      0      0        0      0      0 -0.011390
2        2      0      0        0      0      0  0.000557

OB_neutron_6_7

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.052563
1        1      0      0        0      0      0 -0.007338
2        2      0      0        0      0      0  0.000452

OB_proton_2_3

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.075508

OB_proton_3_4

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0 -0.134648
1        1      0      0        0      0      0  0.010051

OB_proton_4_5

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.142960
1        1      0      0        0      0      0 -0.016135
2        2      0      0        0      0      0  0.000703

OB_proton_5_6

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.090766
1        1      0      0        0      0      0 -0.013421
2        2      0      0        0      0      0  0.000846

O_neutron_2_3

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.958339

O_neutron_3_4

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.916938
1        0      0      0        0      0      1  0.000924
2        1      0      0        0      0      0 -0.027705
3        1      0      0        0      0      1  0.700409

O_neutron_4_5

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.867582
1        0      0      0        0      0      1  0.001680
2        0      0      0        0      0      2 -0.000128
3        1      0      0        0      0      0 -0.038923
4        1      0      0        0      0      1  0.662366
5        1      0      0        0      0      2 -0.001345
6        2      0      0        0      0      0  0.000093
7        2      0      0        0      0      1 -0.045579
8        2      0      0        0      0      2  0.385682

O_neutron_5_6

    rho1324  rho24  rho13  rho1234  rho34  rho12     value
0         0      0      0        0      0      0 -0.811636
1         0      0      0        0      0      1 -0.002460
2         0      0      0        0      0      2  0.000217
3         1      0      0        0      0      0  0.046772
4         1      0      0        0      0      1 -0.619588
5         1      0      0        0      0      2  0.001520
6         2      0      0        0      0      0 -0.000111
7         2      0      0        0      0      1  0.060948
8         2      0      0        0      0      2 -0.360193
9         3      0      0        0      0      0 -0.000062
10        3      0      0        0      0      1 -0.001730
11        3      0      0        0      0      2  0.047182

O_neutron_6_7

    rho1324  rho24  rho13  rho1234  rho34  rho12     value
0         0      0      0        0      0      0  0.750609
1         0      0      0        0      0      1  0.003222
2         0      0      0        0      0      2 -0.000298
3         1      0      0        0      0      0 -0.052261
4         1      0      0        0      0      1  0.573072
5         1      0      0        0      0      2 -0.001448
6         2      0      0        0      0      0  0.000081
7         2      0      0        0      0      1 -0.070338
8         2      0      0        0      0      2  0.332885
9         3      0      0        0      0      0  0.000126
10        3      0      0        0      0      1  0.002764
11        3      0      0        0      0      2 -0.061065
12        4      0      0        0      0      0 -0.000003
13        4      0      0        0      0      1  0.000044
14        4      0      0        0      0      2  0.004426

O_proton_2_3

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.932969

O_proton_3_4

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.868349
1        0      0      0        0      0      1 -0.009846
2        1      0      0        0      0      0 -0.014625
3        1      0      0        0      0      1  0.673633

O_proton_4_5

   rho1324  rho24  rho13  rho1234  rho34  rho12     value
0        0      0      0        0      0      0  0.793606
1        0      0      0        0      0      1 -0.012739
2        0      0      0        0      0      2 -0.000057
3        1      0      0        0      0      0 -0.019199
4        1      0      0        0      0      1  0.616138
5        1      0      0        0      0      2 -0.009771
6        2      0      0        0      0      0 -0.000958
7        2      0      0        0      0      1 -0.034951
8        2      0      0        0      0      2  0.366610

O_proton_5_6

    rho1324  rho24  rho13  rho1234  rho34  rho12     value
0         0      0      0        0      0      0 -0.711980
1         0      0      0        0      0      1  0.013995
2         0      0      0        0      0      2  0.000105
3         1      0      0        0      0      0  0.021313
4         1      0      0        0      0      1 -0.553483
5         1      0      0        0      0      2  0.011973
6         2      0      0        0      0      0  0.001690
7         2      0      0        0      0      1  0.044580
8         2      0      0        0      0      2 -0.329258
9         3      0      0        0      0      0 -0.000089
10        3      0      0        0      0      1 -0.000261
11        3      0      0        0      0      2  0.043023

O_2_3_Wigner

      k1  L1  k2  L2  k3  L3      rho1
0      1   1   1   1   1   0  0.529914
1      1   1   1   1   1   2 -0.327523
2      1   1   1   1   2   2 -0.000000
3      1   2   1   1   1   2 -0.000754
4      1   2   1   1   2   2 -0.415732
...   ..  ..  ..  ..  ..  ..       ...
2843   2  68   1   1   1  67  0.002840
2844   1  68   1   1   1  68 -0.004294
2845   2  68   1   1   1  68 -0.000124
2846   1  69   1   1   1  68  0.110840
2847   2  69   1   1   1  68 -0.029477

[2848 rows x 7 columns]

O_3_4_Wigner

      k1  L1  k2  L2  k3  L3      rho1      rho2
0      1   1   1   1   1   0 -0.165725  0.011680
1      1   1   1   1   1   2  0.122404 -0.009347
2      1   1   1   1   2   2 -0.006550  0.006595
3      1   2   1   1   1   2 -0.006199  0.010350
4      1   2   1   1   2   2  0.138473 -0.007533
...   ..  ..  ..  ..  ..  ..       ...       ...
2843   2  68   1   1   1  67  0.000931  0.000517
2844   1  68   1   1   1  68  0.007500  0.118495
2845   2  68   1   1   1  68  0.000216  0.003419
2846   1  69   1   1   1  68  0.039737  0.065476
2847   2  69   1   1   1  68 -0.010568 -0.017413

[2848 rows x 8 columns]

O_4_5_Wigner

      k1  L1  k2  L2  k3  L3      rho1      rho2      rho3
0      1   1   1   1   1   0 -0.264506  0.008242 -0.195960
1      1   1   1   1   1   2  0.155549 -0.004278  0.115642
2      1   1   1   1   2   2  0.002303 -0.004921 -0.001731
3      1   2   1   1   1   2  0.002442 -0.007628  0.001975
4      1   2   1   1   2   2  0.204025 -0.010563  0.101158
...   ..  ..  ..  ..  ..  ..       ...       ...       ...
2843   2  68   1   1   1  67 -0.000323 -0.028244 -0.266422
2844   1  68   1   1   1  68 -0.004656 -0.023340  0.032510
2845   2  68   1   1   1  68 -0.000064  0.000582  0.012553
2846   1  69   1   1   1  68  0.059708  0.103311 -0.055440
2847   2  69   1   1   1  68 -0.017305 -0.052968 -0.221056

[2848 rows x 9 columns]

O_5_6_Wigner

      k1  L1  k2  L2  k3  L3      rho1      rho2      rho3      rho4
0      1   1   1   1   1   0  0.127880 -0.006973  0.070060 -0.008641
1      1   1   1   1   1   2 -0.098268  0.005986 -0.053778  0.007190
2      1   1   1   1   2   2  0.006010 -0.005674  0.002788 -0.005091
3      1   2   1   1   1   2  0.005489 -0.009390 -0.000082 -0.007416
4      1   2   1   1   2   2 -0.108273  0.007796 -0.040122  0.001124
...   ..  ..  ..  ..  ..  ..       ...       ...       ...       ...
2843   2  68   1   1   1  67  0.000077 -0.007635 -0.054062 -0.038580
2844   1  68   1   1   1  68  0.005321  0.052201  0.118458 -0.007798
2845   2  68   1   1   1  68  0.000049 -0.000824 -0.028936 -0.263072
2846   1  69   1   1   1  68  0.031998  0.063073  0.033426 -0.034576
2847   2  69   1   1   1  68 -0.009041 -0.024482 -0.066106 -0.104061

[2848 rows x 10 columns]

O_6_7_Wigner

      k1  L1  k2  L2  k3  L3      rho1      rho2      rho3      rho4      rho5
0      1   1   1   1   1   0  0.181371 -0.009461  0.115189 -0.003063  0.124862
1      1   1   1   1   1   2 -0.101241  0.004642 -0.064567  0.001318 -0.070269
2      1   1   1   1   2   2 -0.002980  0.005598  0.000397  0.003383  0.002822
3      1   2   1   1   1   2 -0.002803  0.008658 -0.001363  0.004916 -0.004171
4      1   2   1   1   2   2 -0.137444  0.011575 -0.058488  0.007948 -0.006645
...   ..  ..  ..  ..  ..  ..       ...       ...       ...       ...       ...
2843   2  68   1   1   1  67 -0.000421 -0.013084 -0.073287 -0.045551 -0.026985
2844   1  68   1   1   1  68 -0.003897 -0.017702 -0.013108  0.036888 -0.001586
2845   2  68   1   1   1  68 -0.000022  0.000734  0.009402  0.033900 -0.073995
2846   1  69   1   1   1  68  0.039688  0.077319  0.038600 -0.056070  0.014578
2847   2  69   1   1   1  68 -0.011714 -0.034724 -0.099992 -0.162801  0.060958

[2848 rows x 11 columns]

Note: The operator's $9-(\lambda,\mu)$ coefficients for the neutron part had to be computed using the following relation

$$
\begin{Bmatrix}
(26,4) & (0,0) &  (26,4) &  1 \\
(39,2) & (\lambda_{\nu_o},\mu_{\nu_o}) &  (34,4) &  \rho_{\nu} \\
(65,6) & (\lambda_{\nu_o},\mu_{\nu_o}) &  (60,8) &  \bar{\rho} \\
1 & 1 &  1 &  \\
\end{Bmatrix}
= \begin{Bmatrix}
(39,2) & (\lambda_{\nu_o},\mu_{\nu_o}) &  (34,4) &  \rho_{\nu} \\
(26,4) & (0,0) &  (26,4) &  1 \\
(65,6) & (\lambda_{\nu_o},\mu_{\nu_o}) &  (60,8) &  \bar{\rho} \\
1 & 1 &  1 &  \\
\end{Bmatrix}
$$

due to an unexpected error in the output of the su3lib as shown below

<div>
<img src="./su3lib.png" width="400"/>
</div>

The transitions to work on are 

<table>

<tr>
<td>

|  $L_i \rightarrow L_f$ |
|--|
| $1^-   \rightarrow  0^+$  |
| $1^-   \rightarrow  2^+$  |
| $3^-   \rightarrow  2^+$  |
| $5^-   \rightarrow  4^+$  |
| $6^+   \rightarrow  5^-$  |
| $7^-   \rightarrow  6^+$  |
| $8^+   \rightarrow  7^-$  |
| $9^-   \rightarrow  8^+$  |
| $10^+   \rightarrow  9^-$  |
| $11^-   \rightarrow  10^+$  |
| $12^+   \rightarrow  11^-$  |
| $13^-   \rightarrow  12^+$  |
| $14^-   \rightarrow  13^-$  |
| $15^-   \rightarrow  14^+$  |
| $16^+   \rightarrow  15^-$  |
| $17^-   \rightarrow  16^+$  |
| $18^+   \rightarrow  17^-$  |


</td>
<td>


<div>
<img src="./Th_spectrum.png" width="200"/>
</div>


</td>
</tr>
</table>

In [22]:
# Function to get Wigner coefficients of transition J_i --> J_f
def retrieveWignerCoeffs(J_i, J_f):
    
    # Filter by angular momentum values
    df1 = O_2_3_Wigner[ (O_2_3_Wigner["L1"] == J_i) & (O_2_3_Wigner["L3"] == J_f)].assign(**{'lam': 2, 'mu': 3})
    df2 = O_3_4_Wigner[ (O_3_4_Wigner["L1"] == J_i) & (O_3_4_Wigner["L3"] == J_f)].assign(**{'lam': 3, 'mu': 4})
    df3 = O_4_5_Wigner[ (O_4_5_Wigner["L1"] == J_i) & (O_4_5_Wigner["L3"] == J_f)].assign(**{'lam': 4, 'mu': 5})
    df4 = O_5_6_Wigner[ (O_5_6_Wigner["L1"] == J_i) & (O_5_6_Wigner["L3"] == J_f)].assign(**{'lam': 5, 'mu': 6})
    df5 = O_6_7_Wigner[ (O_6_7_Wigner["L1"] == J_i) & (O_6_7_Wigner["L3"] == J_f)].assign(**{'lam': 6, 'mu': 7})

    # Merge all coefficients between the states
    df_merged = pd.concat([df1,df2,df3,df4,df5])[["lam","mu","k1","L1","k2","L2","k3","L3","rho1","rho2","rho3","rho4","rho5"]]
    
    # Only those of K=0+ and K=0- must be considered since are the observed bands
    df_merged = df_merged[ (df_merged["k1"] == 1) & (df_merged["k3"] == 1)].reset_index().drop(["index"], axis=1)
    
    return df_merged

# Function to retrieve the 9-(lam, mu) of a given particle type, irrep (lam0, mu0), and multiplicity bar_rho
def retrieveOperator_9_lam_mu(particle, lam0, mu0, bar_rho):
    
    return globals()["O_" + particle + "_" + str(lam0) + "_" + str(mu0)][globals()["O_" + particle + "_" + str(lam0) + "_" + str(mu0)]["rho1324"] == bar_rho]

# Function to retrieve the 9-(lam, mu) of a given particle type, irrep (lam0, mu0), and multiplicity rho_part
def retrieveOneBody_9_lam_mu(particle, lam0, mu0, rho_part):
    
    return globals()["OB_" + particle + "_" + str(lam0) + "_" + str(mu0)][globals()["OB_" + particle + "_" + str(lam0) + "_" + str(mu0)]["rho1324"] == rho_part]

In [23]:
# Compute the sum over (lam0, mu0), bar_rho and rho_pi/rho_nu
def sum_lam0_mu0_rhos(particle, J_i, J_f):
    
    # Irreps and multiplicities
    irreps = [(2,3),(3,4),(4,5),(5,6)]
    rho_bars = [0,1,2,3]
    
    if (particle=="neutron"):
        irreps.append((6,7))
        rho_bars.append(4)
    
    # Get the SU(3) coefficients of the transition
    WignerCoeffs = retrieveWignerCoeffs(J_i, J_f)
    
    # Sumation over same (lam0, mu0) values
    sum_lam0_mu0 = []
    
    # Sum over (lam0, mu0)
    for (irrep, rho_bar) in zip(irreps, rho_bars):
        
        # Get <(60,8), J_f; (lam0, mu0),1 || (65,6), J_i>_bar{rho} coefficient
        coeffs = WignerCoeffs[ (WignerCoeffs["lam"] == irrep[0]) & (WignerCoeffs["mu"] == irrep[1]) ]
        
        # Check ==============================================
        #display(coeffs)
        
        # Sum over same bar_rho
        sum_bar_rho = 0
        
        # Sum over bar_rho
        for b_rho in range(0, rho_bar+1):
            
            # Get coefficients with fixed bar_rho 
            coeff = coeffs["rho"+str(b_rho+1)].values[0]
            coeffs9 = retrieveOperator_9_lam_mu(particle, irrep[0], irrep[1], b_rho)
            
            # Check of same bar_rho ==============================================
            #print("Wiger coeff:", coeff, "\t bar_rho = ", str(b_rho))
            #print("\n9-(lam,mu)", "\t bar_rho = rho_1324 ", str(b_rho))
            #display(coeffs9)
            #print("\n ==============================================")
            
            # Sum over 9-(lam,mu) coeffs with same rho_part
            sum_rho_part = 0
            
            # Get multiplicities of rho_pi / rho_nu and make the products
            for rho_part in coeffs9["rho12"].to_numpy():
                
                # One body coefficient with same rho12 = rho_pi / rho_nu
                onebody = retrieveOneBody_9_lam_mu(particle,  irrep[0], irrep[1], rho_part)
                
                # Operator coefficient with same rho12 = rho_pi / rho_nu
                operator = coeffs9[coeffs9["rho12"] == rho_part]
                
                # Check of same rho_pi / rho_nu ==============================================
                #print("Operator coeff \t", "rho12 = rho_part = ", rho_part)
                #display(operator)
                #print("One body coeff \t", "rho1324 = rho_part = ", rho_part)
                #display(onebody)
                #print("\n \n ==============================================")         

                # Multiply 9-(lam,mu) coeffs of one body and operator with the same rho_part and sum over rho_part
                sum_rho_part += operator["value"].values[0]*onebody["value"].values[0]
              
            # Multiply 9-(lam,mu) coeffs of one body and operator with the same rho_part and sum over rho_part
            sum_bar_rho += coeff*sum_rho_part
            
        #  Append (lam0, mu0) coefficients
        sum_lam0_mu0.append([irrep, sum_bar_rho])  
        
    return sum_lam0_mu0

In [24]:
# Operator coefficients 
V_proton = [[-0.4596360788911335, [2, 3]], [0.5315093604157286, [3, 4]], [0.20574642859123457, [4, 5]], [-0.3709121274256688, [5, 6]]]
V_neutron = [[-0.6483787072210015, [2, 3]], [0.5486539571391357, [3, 4]],  [0.38332444381144287,[4, 5]], [-0.24401383796675546, [5, 6]], [-0.34101916024129764, [6, 7]]]
chi = -90/224
b_0 = 224**(1/6)
e_pi = (1 + chi)
e_nu = chi

In [38]:
# Function to compute the double barred T(E1) matrix element between 
def TE1_RME(J_i, J_f):
    
    lam0_mu0_proton = sum_lam0_mu0_rhos("proton", J_i, J_f)
    lam0_mu0_neutron = sum_lam0_mu0_rhos("neutron", J_i, J_f)

    proton_term = 0
    neutron_term = 0

    for i in range(0, len(lam0_mu0_proton)):
        proton_term += lam0_mu0_proton[i][1]*V_proton[i][0]
        
    for j in range(0, len(lam0_mu0_neutron)):
        neutron_term += lam0_mu0_neutron[i][1]*V_neutron[i][0]
        
    return b_0*(e_pi*Cp*proton_term + e_nu*Cn*neutron_term)

def BE1(J_i, J_f):
    return TE1_RME(J_i, J_f)**2*(2*J_f+1)/(2*J_i+1)

def BE1Ordered(J_i, J_f):
    if (J_i%2 == 0):
        return TE1_RME(J_f, J_i)**2*(2*J_i+1)/(2*J_f+1)*(2*J_i+1)/(2*J_f+1)    # !!! CHECCKKKKKK THIS CAREFULLY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    else:
        return TE1_RME(J_i, J_f)**2*(2*J_f+1)/(2*J_i+1)

In [39]:
transitions = [[1,0],[1,2], [3,2], [5,4], [5,6], [7,6], [7,8], [9,8], [9,10], [11,10], [11,12], [13,12], [13, 14], [15,14], [15,16], [17,16], [17,18]]

for i in transitions:
    
    print(i[0]," --> ",i[1],"\t", BE1(i[0], i[1]), " e*fm")

1  -->  0 	 0.005301805558639995  e*fm
1  -->  2 	 0.0094059871396506  e*fm
3  -->  2 	 0.00723075718003454  e*fm
5  -->  4 	 0.008022717991483984  e*fm
5  -->  6 	 0.006090268937105905  e*fm
7  -->  6 	 0.008516225271855799  e*fm
7  -->  8 	 0.005087190010353052  e*fm
9  -->  8 	 0.008851435954045079  e*fm
9  -->  10 	 0.004144586022171948  e*fm
11  -->  10 	 0.00908002674021702  e*fm
11  -->  12 	 0.0032524459018363422  e*fm
13  -->  12 	 0.009231950973594201  e*fm
13  -->  14 	 0.0024261895306980936  e*fm
15  -->  14 	 0.009329653031023828  e*fm
15  -->  16 	 0.0016891536009757094  e*fm
17  -->  16 	 0.009391867422466898  e*fm
17  -->  18 	 0.0010653823395457005  e*fm

In [40]:
transitions = [[1,0],[1,2], [3,2], [5,4], [6,5], [7,6], [8,7], [9,8], [10,9], [11,10], [12,11], [13,12], [14, 13], [15,14], [16,15], [17,16], [18,17]]

for i in transitions:
    
    print(i[0],r" --> ",i[1],"\t", BE1(i[0], i[1]), " e*fm")

1  -->  0 	 0.005301805558639995  e*fm
1  -->  2 	 0.0094059871396506  e*fm
3  -->  2 	 0.00723075718003454  e*fm
5  -->  4 	 0.008022717991483984  e*fm
6  -->  5 	 0.006955204906044421  e*fm
7  -->  6 	 0.008516225271855799  e*fm
8  -->  7 	 0.0076915637955608405  e*fm
9  -->  8 	 0.008851435954045079  e*fm
10  -->  9 	 0.008124343094764105  e*fm
11  -->  10 	 0.00908002674021702  e*fm
12  -->  11 	 0.008395571844525855  e*fm
13  -->  12 	 0.009231950973594201  e*fm
14  -->  13 	 0.00856745414806812  e*fm
15  -->  14 	 0.009329653031023828  e*fm
16  -->  15 	 0.00867604093544706  e*fm
17  -->  16 	 0.009391867422466898  e*fm
18  -->  17 	 0.008746493151398823  e*fm

In [36]:
WeisskopfUnitDown = 6.446*10**(-4)*224**(2/3)   # e²*barn, J_i > J_f, downwards transition
WeisskopfUnitUp = 6.446*10**(-4)*224**(2/3)     # e²*barn, J_i < J_f, upwards transition

In [37]:
WeisskopfUnit

0.023775097870886996